<script id="jplist-template" type="text/x-handlebars-template">

<!-- handlebars template -->
<div class="items-wrapper col-12 col-xs-12">
    {{#each Items}}
    <div class="list-item py-4 border-bottom">
        {{#if Context.IsEditable}}
        <div style="outline: 1px dashed #ccc;height: 22px !important;position:relative;margin-top:1px;">
            <div style="padding-left:5px; line-height:22px;">Item: {{@index}} 
                {{publishstatus}} : {{formatDateTime AlbumDate "DD-MM-YYYY"}} 
            </div>
            <div style="position:absolute;right:0;top:0;line-height:22px; ">
            	<a href="{{Context.EditUrl}}" title="Edit Item" style="background-color:#000;color:#fff;padding: 0 2px; "><i class="fa fa-pencil"></i></a>
            </div>
        </div>
        {{/if}}
        <!-- item {{@index}} -->
        <div class="row article">
            <div class="col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <a class="gallery-img-wrap" title="{{Title}}" href="{{Context.DetailUrl}}">
                            <img src="{{#if Image.url}}{{Image.url}}{{else}}{{#if Gallery.0.Image}}{{Gallery.0.Image}}{{else}}{{../../../Context.TemplatePath}}img/no-image.png{{/if}}{{/if}}?width=600" alt="{{Title}}" class="gallery-icon unresponsive" loading="lazy" />
                        </a>
                    </div>
                    <div class="caption col-md-8">
                        <h3 class="gallery-title h4 mt-0 mb-2"><a href="{{Context.DetailUrl}}">{{Title}}</a></h3>
                        <div class="gallery-date mb-2">
                            {{formatDateTime AlbumDate "DD-MM-YYYY"}}
                        </div>
                        {{#if ../Settings.PhotoCount}}
                        <div class="gallery-photo-count mb-2">
                        {{../../Localization.GalleryPhotoCount}}: {{Gallery.length}}
                        </div>
                        {{/if}}
                        <div class="gallery-desc pb-3"> {{{Summary}}}</div>
                        <div class="gallery-button pb-3">
                            <a class="btn btn-primary btn-sm" href="{{Context.DetailUrl}}" role="button">{{../Localization.OpenGallery}}</a>
                        </div>
                         {{#if ../Settings.Tags}}
                        <div class="gallery-tags tags pb-4">
                            {{#each Tags}}
                            <span class="{{Id}}">{{Tag}}</span>
                            {{/each}}
                        </div>
                        {{/if}}
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    {{/each}}
</div>
</script>
